/* ProfilePage.css */
.profile-container {
  height: 90vh;
  width: 100vh; /* Half of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f2f2; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.logout-container {
  text-align: right;
  margin-bottom: 10px;
}

.logout-container button {
  background-color: #ff4d4d; /* Red button color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-container button:hover {
  background-color: #ff3333; /* Darker red on hover */
}

.filtered-plan-section {
  border: 1px solid #c13737;
  margin-top: auto;
}

.filtered-plan-section h3 {
  color: #007bff; /* Blue header color */
}

.filtered-plan-section p {
  color: #555; /* Dark gray text color */
}

.calendar-section {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.meal-inputs {
  margin-top: 20px;
}

.meal-inputs h4 {
  margin-bottom: 10px;
}

.meal-inputs input[type="text"] {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light gray input background */
}